body
	margin-top: 0%

img
	float: left
	padding-bottom: 2%
	padding-left: 2%
	margin-top: 0%
	
#lofts
	position: relative
	top: 500px
	left: 50px
	color: white
	font-size: 100px
	width: 30%

#bottomText
	position: relative
	top: 575px
	left: 50px
	color: yellow
	font-family: helvetica
	font-size: 25px
	
#rightSide
	float: right
	margin-right: 15%


#price
	color: red
	font-size: 150px
	margin-top: 2%
	margin-bottom: 2%
	font-family: helvetica
	
#offer
	font-weight: bold
	margin-bottom: 100px
	font-family: helvetica
	
.countdown
	display: inline
	padding-right: 10%
	font-family: helvetica
	font-size: 20px
	color: gray
	
#infotext
	width: 55%
	color: lightgray
	font-family: helvetica
	margin-top: 10%
